<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar primary-system-color"
  [containerInside]="false">

  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="#">
      <img src="../../assets/imgs/logo.png" height="30" alt="">
    </a>
  </mdb-navbar-brand>

  <links>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>{{ 'menu.home' | translate }}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/pdv" mdbWavesEffect>{{ 'menu.pdv' | translate }}</a>
      </li>

      <li *ngIf="verifyPermissionMainMenu('compra')" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="cart-arrow-down"></mdb-icon> {{ 'menu.compra.title' | translate }} <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color"
          role="menu">
          <a *ngIf="verifyPermissionMenu('PROVIDER')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/provider">{{ 'menu.compra.fornecedores' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('PURCHASE')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/purchase">{{ 'menu.compra.compras' | translate }}</a>
        </div>
      </li>

      <li *ngIf="verifyPermissionMainMenu('venda')" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="shopping-cart"></mdb-icon> {{ 'menu.venda.title' | translate }} <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color"
          role="menu">
          <a *ngIf="verifyPermissionMenu('CUSTOMER')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/customer">{{ 'menu.venda.clientes' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('SALE')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/sale">{{ 'menu.venda.vendas' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('SERVICE_ORDER')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/service-order">{{ 'menu.venda.os' | translate }}</a>
        </div>
      </li>

      <li *ngIf="verifyPermissionMainMenu('financeiro')" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="shopping-cart"></mdb-icon> {{ 'menu.finance.title' | translate }} <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color" role="menu">
          <a *ngIf="verifyPermissionMenu('BACK_CHECK')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/bank-check">
            {{ 'menu.finance.check' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('INCOME')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/income">
            {{ 'menu.finance.income' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('EXPENSE')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/expense">
            {{ 'menu.finance.expense' | translate }}</a>
        </div>
      </li>

      <li *ngIf="verifyPermissionMainMenu('geral')" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> {{ 'menu.geral.title' | translate }} <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color"
          role="menu">
          <a *ngIf="verifyPermissionMenu('SERVICE_TYPE')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/service-type">{{ 'menu.geral.tipos-servicos' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('PRODUCT_CATEGORY')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/productcategory">{{ 'menu.geral.categorias-produtos' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('PRODUCT')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/product">{{ 'menu.geral.produtos' | translate }}</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <li *ngIf="verifyPermissionMainMenu('configuracao')" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="cog"></mdb-icon> {{ 'menu.configuracao.title' | translate }} <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color"
          role="menu">
          <a *ngIf="verifyPermissionMenu('TENANT')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/tenant">{{ 'menu.configuracao.tenants' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('PERMISSION')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/permission">{{ 'menu.configuracao.permissoes' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('EMPLOYEE')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/employee">{{ 'menu.configuracao.funcionarios' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('USER')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/user">{{ 'menu.configuracao.usuarios' | translate }}</a>
          <a *ngIf="verifyPermissionMenu('COST_CENTER')" class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/cost-center">{{ 'menu.configuracao.centroCustos' | translate }}</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" (click)="logout()" mdbWavesEffect>
          <mdb-icon fas icon="sign-out-alt"></mdb-icon> {{ 'menu.sair' | translate }}<span class="caret"></span>
        </a>
      </li>

    </ul>
  </links>

</mdb-navbar>
