<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar primary-system-color" [containerInside]="false">

  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="#">
          <img src="../../assets/imgs/logo.png" height="30" alt="">
      </a>
  </mdb-navbar-brand>

  <links>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" routerLink="/home" (click)="loadingPage()" mdbWavesEffect>Home</a>
      </li>
      
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Compras <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color" role="menu">
            <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/provider" (click)="loadingPage()">Fornecedores</a>
            <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/purchase" (click)="loadingPage()">Compras</a>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Vendas <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color" role="menu">
            <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/customer" (click)="loadingPage()">Clientes</a>
            <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/sale" (click)="loadingPage()">Vendas</a>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Gerais <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color" role="menu">
            <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/service-type" (click)="loadingPage()">Tipos de Serviços</a>
            <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/productcategory" (click)="loadingPage()">Categorias de Produtos</a>
            <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/product" (click)="loadingPage()">Produtos</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="cog"></mdb-icon> Settings<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color" role="menu">
          <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/tenant" (click)="loadingPage()">Tenants</a>
          <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/permission" (click)="loadingPage()">Permissões</a>
          <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/employee" (click)="loadingPage()">Funcionários</a>
          <a class="dropdown-item waves-light text-light" mdbWavesEffect routerLink="/user" (click)="loadingPage()">Usuários</a>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary primary-system-color" role="menu">
          <a class="dropdown-item waves-light text-light" mdbWavesEffect (click)="logout()">Log out</a>
        </div>
      </li>

    </ul>


  </links>

</mdb-navbar>