<div class="container-fluid screen-top screen-bottom">
  <div class="card primary-system-color">
    <div class="card-header text-light secondary-system-color card-header--cursor-pointer" (click)="filters.toggle()">
      <div class="close pull-right">
        <i *ngIf="isTheFilterPanelExpanded" class="fas fa-angle-up"></i>
        <i *ngIf="!isTheFilterPanelExpanded" class="fas fa-angle-down"></i>
      </div>
      Filtros
    </div>
    <div mdbCollapse [isCollapsed]="true" (expanded)="updateExpandedFlagPanel()" (collapsed)="updateExpandedFlagPanel()" #filters="bs-collapse">
      <div class="card-body">
        <div class="row">
          <div class="md-form col-12 col-md-6">
            <input type="text" id="user" class="form-control" mdbInput mdbValidate>
            <label for="user">Nome</label>
          </div>
        </div>
      </div>
      <div class="card-footer secondary-system-color">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Primary</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card text-light primary-system-color card-filter--margin-top">
    <div class="card-body">
      Registros Encontrados
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor="let field of getHeaderTitle()" class="text-light">
                  {{ field }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
                <th *ngFor="let field of getHeaderTitle()" (click)="onClickItem(item)" class="text-light">
                  {{ getFieldsOfTable(item, field) }}
                </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>