<app-simple-panel [panelTitle]="getTitle()" [panelTitleColor]="'color-black'" [showHeader]="showPanelHeader"
                  [icon]="iconPanelHeader" [headerColor]="colorPanelHeader">
  <div body>

    <div *ngIf="isToBill() || isBilled() || isTotalBilled()" class="row margin-b-20">
      <div class="col-6">
        <app-simple-panel panelColor="secondary-system-color">
          <div body>
            <div class="row text-align-center">
              <div class="col-12">
                <app-button-group (selected)="bgPaymentTypeSelect($event)"
                                  [selectDefaultItem]="saleIncomeDto.paymentType"
                                  [buttonGroupValues]="bgPaymentTypeValues">
                </app-button-group>
              </div>
            </div>

            <!-- Dinheiro e Boleto -->
            <div *ngIf="isCash() || isBankSlip()">
              <div class="row">
                <div class="col-5" *ngIf="!hasParcels">
                  <div class="md-form">
                    <input type="date" id="duaDate" class="form-control text-light" [disabled]="hasParcels"
                           [ngModel]="saleIncomeDto.duaDate | date:'yyyy-MM-dd'" (change)="updateDate($event)" mdbInput/>
                    <label for="duaDate" class="text-light">Data de vencimeto</label>
                  </div>
                </div>
                <div class="{{hasParcels ? 'col-6' : 'col-5'}}">
                  <div class="md-form">
                    <input type="text" id="value" class="form-control text-light" [(ngModel)]="saleIncomeDto.value" [disabled]="hasParcels" mdbInput />
                    <label for="value" class="text-light">Valor</label>
                  </div>
                </div>
                <div class="col-2" *ngIf="!hasParcels && !isBankSlip()">
                  <div class="custom-control custom-checkbox margin-t-40">
                    <input type="checkbox" class="custom-control-input" id="active" tabindex="0" [(ngModel)]="saleIncomeDto.settled">
                    <label for="active" class="custom-control-label text-light">Pago</label>
                  </div>
                </div>
              </div>

              <p class="bold italic font-size-12 margin-b-0 text-light" *ngIf="hasParcels">Vencimento da 1ª Parcela</p>
              <div class="row pad-l-15 pad-r-9 pad-b-20">
                <div *ngFor="let saleIncome of salesIncomes; let installment = index" class="col-4 grid-item {{installment === 0 ? 'firts-item-grid' : ''}}">
                  <p class="bold margin-b-0">{{saleIncome.duaDate | date: 'dd/MM/yyyy'}}</p>
                  <p class="margin-b-0">R$ {{saleIncome.value.toFixed(2)}}</p>
                </div>
              </div>
            </div>

            <!-- Cheque -->
            <div *ngIf="isBankCheck()">
              <div class="row">
                <div class="col-5">
                  <div class="md-form">
                    <input type="date" id="duaDate" class="form-control text-light" [ngModel]="saleIncomeDto.duaDate | date:'yyyy-MM-dd'"
                           (change)="updateDate($event)" mdbInput/>
                    <label for="duaDate" class="text-light">Data de compensação</label>
                  </div>
                </div>
                <div class="col-5">
                  <div class="md-form">
                    <input type="text" id="value" class="form-control text-light" [(ngModel)]="saleIncomeDto.value" mdbInput />
                    <label for="value" class="text-light">Valor</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="custom-control custom-checkbox margin-t-40">
                    <input type="checkbox" class="custom-control-input" id="active" tabindex="0" [(ngModel)]="saleIncomeDto.settled">
                    <label for="active" class="custom-control-label text-light">Pago</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div class="md-form">
                    <input type="number" id="checkNumber" class="form-control text-light" [(ngModel)]="saleIncomeDto.check.number" mdbInput />
                    <label for="checkNumber" class="text-light">Número do cheque</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="md-form">
                    <input type="text" id="checkEmitter" class="form-control text-light" [(ngModel)]="saleIncomeDto.check.emitter" mdbInput />
                    <label for="checkEmitter" class="text-light">Emissor do cheque</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="md-form">
                    <input type="text" id="checkPD" class="form-control text-light" [(ngModel)]="saleIncomeDto.check.personDocument" mdbInput />
                    <label for="checkPD" class="text-light">Documento do emissor</label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Crédito e Débito -->
            <div *ngIf="isCreditCard() || isDebitCard()">
              <div class="row">
                <div class="col-6">
                  <div class="md-form">
                    <input type="text" id="value" class="form-control text-light" [(ngModel)]="saleIncomeDto.value" mdbInput />
                    <label for="value" class="text-light">Valor</label>
                  </div>
                </div>
              </div>
            </div>

            <button mdbBtn type="button" color="primary" outline="true" (click)="launchPayment();" mdbWavesEffect>Lançar pagamento</button>
            <button mdbBtn type="button" color="info" outline="true" (click)="installment();" [disabled]="!saleIncomeDto.value" *ngIf="isCash() || isBankSlip()" mdbWavesEffect>Parcelamento</button>
            <button mdbBtn type="button" color="danger" outline="true" (click)="removeParcels();" [hidden]="!hasParcels" *ngIf="isCash() || isBankSlip()" mdbWavesEffect>Remover Parcelas</button>
          </div>
        </app-simple-panel>
      </div>

      <div class="col-6">
        <app-simple-panel panelColor="secondary-system-color">
          <div body>
            <div class="row">
              <div class="col-12">
                <app-table [pageValues]="incomeItems" [tableValues]="incomeTableValues" [updateCurrentPage]="incomeCurrentPage"
                      (reloadItems)="reloadIncomeItems($event)" [showBtnAdd]="false" [selectableLine]="false"
                      [showDeleteValue]="true" (deleteItem)="confirmDeleteIncomeItem($event)"
                      [showTotalItems]="false">
                </app-table>
              </div>
            </div>

            <div class="row pad__income-values">
              <div class="col-4 text-align-center amount-payable">
                <p class="text-light margin-b-0">Total a pagar</p>
                <p class="text-light font-weight-bold font-size-25 margin-b-0">R$ {{saleTotal.amountPayable.toFixed(2)}}</p>
              </div>
              <div class="col-4 text-align-center amount-paid">
                <p class="text-light margin-b-0">Valor pago</p>
                <p class="text-light font-weight-bold font-size-25 margin-b-0">R$ {{saleTotal.amountPaid.toFixed(2)}}</p>
              </div>
              <div class="col-4 text-align-center total-value">
                <p class="text-light margin-b-0">Total da venda</p>
                <p class="text-light font-weight-bold font-size-25 margin-b-0">R$ {{saleTotal.totalValue.toFixed(2)}}</p>
              </div>
            </div>
          </div>
        </app-simple-panel>
      </div>
    </div>

    <div *ngIf="isCreated() || isToBill() || isBilled() || isTotalBilled()" class="row margin-b-20">
      <div class="col-12">
        <button mdbBtn type="button" color="danger" outline="true" (click)="onConfirmCancel()" mdbWavesEffect>Cancelar</button>
        <button mdbBtn type="button" color="mdb-color" outline="true" (click)="goBack()" mdbWavesEffect>Voltar</button>
      </div>
    </div>

    <div class="margin-b-20">
      <div class="row">
        <div class="col-6 ng-autocomplete">
          <label for="customers" class="text-light">Cliente</label>
          <ng-autocomplete id="customers" [data]="customers" [searchKeyword]="customerKeyword" [initialValue]="customerInitialValue" [itemTemplate]="customerTemplate"
                          [notFoundTemplate]="customerNotFoundTemplate" (selected)='customerSelectEvent($event)'
                          (inputChanged)="customerChangeEvent($event)" notFoundText="Nenhum cliente encontrado"
                          (inputCleared)="customerInputCleared()" [disabled]="!isNew()" #ngAutoCompleteCustomer
                          placeHolder="Buscar cliente" [isLoading]="isLoadingCustomer">
          </ng-autocomplete>
        </div>

        <div class="col-6 ng-autocomplete">
          <label for="employees" class="text-light">Vendedor</label>
          <ng-autocomplete id="employees" [data]="employees" [searchKeyword]="employeeKeyword" [initialValue]="employeeInitialValue" [itemTemplate]="employeeTemplate"
                          [notFoundTemplate]="employeeNotFoundTemplate" (selected)='employeeSelectEvent($event)'
                          (inputChanged)="employeeChangeEvent($event)" notFoundText="Nenhum funcionário encontrado"
                          (inputCleared)="employeeInputCleared()" [disabled]="!isNew()" #ngAutoCompleteEmployee
                          placeHolder="Buscar vendedor" [isLoading]="isLoadingEmployee">
          </ng-autocomplete>
        </div>
      </div>
    </div>

    <div *ngIf="isNew() || isCreated()" class="row margin-b-20">
      <div class="col-6">
        <button mdbBtn *ngIf="isNew()" type="button" color="primary" outline="true" (click)="onConfirmSave()" mdbWavesEffect>Salvar</button>
        <button mdbBtn *ngIf="isCreated()" type="button" color="primary" outline="true" (click)="onConfirmFinalize()" mdbWavesEffect>Finalizar</button>
        <button mdbBtn type="button" color="mdb-color" outline="true" (click)="goBack()" mdbWavesEffect>Voltar</button>
      </div>
      <div *ngIf="isCreated()" class="col-6">
        <p class="text-light font-weight-bold font-size-38 margin-b-0">R$ {{saleTotal.totalValue.toFixed(2)}}</p>
      </div>
    </div>

    <div class="row margin-b-20" *ngIf="isCreated()">
      <div class="col-6">
        <app-simple-panel panelColor="secondary-system-color">
          <div body>
            <div class="row">
              <div class="col-8">
                <label for="product" class="text-light">Produto</label>
                <ng-autocomplete id="product" [data]="products" [searchKeyword]="productKeyword" [itemTemplate]="productTemplate"
                                [notFoundTemplate]="productNotFoundTemplate" (selected)='productSelectEvent($event)'
                                (inputChanged)="productChangeEvent($event)" notFoundText="Nenhum produto encontrado"
                                (inputCleared)="productInputCleared()" #ngAutoCompleteProduct
                                placeHolder="Buscar produto" [isLoading]="isLoadingProduct">
                </ng-autocomplete>
              </div>
              <div class="col-4">
                <p class="text-light">Valor unitário</p>
                <p class="text-light font-weight-bold">R$ {{productPrice}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="md-form">
                  <input type="text" id="qts" class="form-control text-light" [(ngModel)]="productQtd" mask="0000" (keyup)="updateProductTotal()" mdbInput />
                  <label for="qts" class="text-light">Quantidade</label>
                </div>
              </div>
              <div class="col-4">
                <p class="text-light">Subtotal</p>
                <p class="text-light font-weight-bold font-size-25">R$ {{productPriceSubtotal}}</p>
              </div>
            </div>
            <button mdbBtn type="button" color="primary" outline="true" (click)="addProduct();" *ngIf="!isBilled() && !isCanceled()" mdbWavesEffect>Adicionar</button>
          </div>
        </app-simple-panel>
      </div>
      <div class="col-6" *ngIf="isCreated() || isToBill()">
        <app-simple-panel panelColor="secondary-system-color">
          <div body>
            <div class="row">
              <div class="col-8">
                <label for="product" class="text-light">Serviço</label>
                <ng-autocomplete id="product" [data]="services" [searchKeyword]="serviceKeyword" [itemTemplate]="serviceTemplate"
                                [notFoundTemplate]="serviceNotFoundTemplate" (selected)='serviceSelectEvent($event)'
                                (inputChanged)="serviceChangeEvent($event)" notFoundText="Nenhum serviço encontrado"
                                (inputCleared)="serviceInputCleared()" #ngAutoCompleteService
                                placeHolder="Buscar serviço" [isLoading]="isLoadingService">
                </ng-autocomplete>
              </div>
              <div class="col-4">
                <p class="text-light">Valor unitário</p>
                <p class="text-light font-weight-bold">R$ {{servicePrice}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="md-form">
                  <input type="text" id="qts" class="form-control text-light" [(ngModel)]="serviceQtd" mask="0000" (keyup)="updateServiceTotal()" mdbInput />
                  <label for="qts" class="text-light">Quantidade</label>
                </div>
              </div>
              <div class="col-4">
                <p class="text-light">Subtotal</p>
                <p class="text-light font-weight-bold font-size-25">R$ {{servicePriceSubtotal}}</p>
              </div>
            </div>
            <button mdbBtn type="button" color="primary" outline="true" (click)="addService();" *ngIf="!isBilled() && !isCanceled()" mdbWavesEffect>Adicionar</button>
          </div>
        </app-simple-panel>
      </div>
    </div>

    <div class="row" *ngIf="!isNew()">
      <div class="col-12">
        <app-simple-panel panelColor="secondary-system-color" [showHeader]="true" [panelTitle]="'Itens da venda'.toUpperCase()">
          <div body>
            <app-table [pageValues]="saleItems" [tableValues]="tableValues" [updateCurrentPage]="currentPage"
                      (reloadItems)="reloadItems($event)" [showBtnAdd]="false" [selectableLine]="false"
                      [showDeleteValue]="isCreated()" (deleteItem)="confirmDeleteSaleItem($event)"></app-table>
          </div>
        </app-simple-panel>
      </div>
    </div>
  </div>
</app-simple-panel>

<ng-template #customerTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>
<ng-template #customerNotFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>

<ng-template #employeeTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>
<ng-template #employeeNotFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>

<ng-template #productTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>
<ng-template #productNotFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>

<ng-template #serviceTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>
<ng-template #serviceNotFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>
