<app-simple-panel [panelTitle]="getTitle()" [panelTitleColor]="'color-black'" [showHeader]="showPanelHeader"
                  [icon]="iconPanelHeader" [headerColor]="colorPanelHeader">
  <div body>
    <div class="margin-b-20">
      <div class="row">
        <div class="col-6 ng-autocomplete">
          <label for="customers" class="text-light">Cliente</label>
          <ng-autocomplete id="customers" [data]="customers" [searchKeyword]="customerKeyword" [initialValue]="customerInitialValue" [itemTemplate]="customerTemplate"
                          [notFoundTemplate]="customerNotFoundTemplate" (selected)='customerSelectEvent($event)'
                          (inputChanged)="customerChangeEvent($event)" minQueryLength="3" notFoundText="Nenhum cliente encontrado"
                          (inputCleared)="customerInputCleared()" [disabled]="!isNew()" #ngAutoCompleteCustomer>
          </ng-autocomplete>
        </div>

        <div class="col-6 ng-autocomplete">
          <label for="employees" class="text-light">Vendedor</label>
          <ng-autocomplete id="employees" [data]="employees" [searchKeyword]="employeeKeyword" [initialValue]="employeeInitialValue" [itemTemplate]="employeeTemplate"
                          [notFoundTemplate]="employeeNotFoundTemplate" (selected)='employeeSelectEvent($event)'
                          (inputChanged)="employeeChangeEvent($event)" minQueryLength="3" notFoundText="Nenhum funcionário encontrado"
                          (inputCleared)="employeeInputCleared()" [disabled]="!isNew()" #ngAutoCompleteEmployee>
          </ng-autocomplete>
        </div>
      </div>
    </div>

    <div class="row margin-b-20">
      <div class="col-6">
        <button mdbBtn *ngIf="isNew()" type="button" color="primary" outline="true" (click)="onSave()" mdbWavesEffect>Salvar</button>
        <button mdbBtn *ngIf="!isNew()" type="button" color="primary" outline="true" (click)="onSave()" mdbWavesEffect>Finalizar</button>
        <button mdbBtn type="button" color="mdb-color" outline="true" (click)="goBack()" mdbWavesEffect>Voltar</button>
      </div>
      <div class="col-6 align-end">
        <p class="text-light font-weight-bold font-size-38 margin-b-0">R$ {{productPriceTotal}}</p>
        <button mdbBtn type="button" color="success" outline="true" (click)="goBack()" *ngIf="isToBill()" mdbWavesEffect>Faturar</button>
        <button mdbBtn type="button" color="danger" outline="true" (click)="goBack()" *ngIf="!isNew() && !isBilled() && !isCanceled()" mdbWavesEffect>Cancelar</button>
      </div>
    </div>

    <div class="row margin-b-20" *ngIf="isCreated()">
      <div class="col-6">
        <app-simple-panel panelColor="secondary-system-color">
          <div body>
            <div class="row">
              <div class="col-8">
                <label for="product" class="text-light">Produto</label>
                <ng-autocomplete id="product" [data]="products" [searchKeyword]="productKeyword" [itemTemplate]="productTemplate"
                                [notFoundTemplate]="productNotFoundTemplate" (selected)='productSelectEvent($event)'
                                (inputChanged)="productChangeEvent($event)" minQueryLength="3" notFoundText="Nenhum produto encontrado"
                                (inputCleared)="productInputCleared()" #ngAutoCompleteProduct>
                </ng-autocomplete>
              </div>
              <div class="col-4">
                <p class="text-light">Valor unitário</p>
                <p class="text-light font-weight-bold">R$ {{productPrice}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="md-form">
                  <input type="text" id="qts" class="form-control text-light" [(ngModel)]="productQtd" mask="0000" (keyup)="updateProductTotal()" mdbInput />
                  <label for="qts" class="text-light">Quantidade</label>
                </div>
              </div>
              <div class="col-4">
                <p class="text-light">Valor total</p>
                <p class="text-light font-weight-bold font-size-25">R$ {{productPriceTotal}}</p>
              </div>
            </div>
            <button mdbBtn type="button" color="primary" outline="true" (click)="addProduct();" *ngIf="!isBilled() && !isCanceled()" mdbWavesEffect>Adicionar</button>
          </div>
        </app-simple-panel>
      </div>
      <div class="col-6" *ngIf="isCreated() || isToBill()">
        <app-simple-panel panelColor="secondary-system-color">
          <div body>
            <div class="row">
              <div class="col-8">
                <label for="product" class="text-light">Serviço</label>
                <ng-autocomplete id="product" [data]="services" [searchKeyword]="serviceKeyword" [itemTemplate]="serviceTemplate"
                                [notFoundTemplate]="serviceNotFoundTemplate" (selected)='serviceSelectEvent($event)'
                                (inputChanged)="serviceChangeEvent($event)" minQueryLength="3" notFoundText="Nenhum serviço encontrado"
                                (inputCleared)="serviceInputCleared()" #ngAutoCompleteService>
                </ng-autocomplete>
              </div>
              <div class="col-4">
                <p class="text-light">Valor unitário</p>
                <p class="text-light font-weight-bold">R$ {{servicePrice}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-8">
                <div class="md-form">
                  <input type="text" id="qts" class="form-control text-light" [(ngModel)]="serviceQtd" mask="0000" (keyup)="updateServiceTotal()" mdbInput />
                  <label for="qts" class="text-light">Quantidade</label>
                </div>
              </div>
              <div class="col-4">
                <p class="text-light">Valor total</p>
                <p class="text-light font-weight-bold font-size-25">R$ {{servicePriceTotal}}</p>
              </div>
            </div>
            <button mdbBtn type="button" color="primary" outline="true" (click)="goBack();" *ngIf="!isBilled() && !isCanceled()" mdbWavesEffect>Adicionar</button>
          </div>
        </app-simple-panel>
      </div>
    </div>

    <div class="row" *ngIf="!isNew()">
      <div class="col-12">
        <app-simple-panel panelColor="secondary-system-color" [showHeader]="true" [panelTitle]="'Itens da venda'.toUpperCase()">
          <div body>
            <app-table [pageValues]="saleItems" [tableValues]="tableValues" [updateCurrentPage]="currentPage"
                      (reloadItems)="reloadItems($event)" [showBtnAdd]="false" [selectableLine]="false"
                      [showDelete]="!isBilled()" (deleteItem)="deleteSaleItem($event)"></app-table>
          <!-- (clickItem)="onClickItem($event)" -->
          </div>
        </app-simple-panel>

      </div>
    </div>
  </div>
</app-simple-panel>

<ng-template #customerTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>
<ng-template #customerNotFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>

<ng-template #employeeTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>
<ng-template #employeeNotFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>

<ng-template #productTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>
<ng-template #productNotFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>

<ng-template #serviceTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>
<ng-template #serviceNotFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>
