.pad__income-values {
  padding-left: 16px;
  padding-top: 10px;
  padding-right: 16px;
}

.amount-payable {
  border-radius: 10px 0px 0px 10px;
  background-color: #ff574d;
}

.amount-paid {
  background-color: #119579;
}

.total-value {
  border-radius: 0px 10px 10px 0px;
  background-color: #089aff;
}
