<div class="container-fluid screen-top screen-bottom">
  <div class="h2 text-light">
    Home
  </div>
  <div class="row row-stat">
    <div class="col-lg-5">
      <!--div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeBar" [datasets]="chartDatasetsStock" [labels]="chartLabels" [colors]="chartColors" [options]="getChartOptionsBar('Estoque Baixo')" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
      </div -->
      <div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeBar" [datasets]="chartDatasetsTopSaledProductRS" [labels]="chartDatasetsTopSaledProductLabels" [colors]="chartColors" [options]="getChartOptionsBar('Produtos Mais Vendidos (R$)')" [legend]="false" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
      </div>
      <div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeBar" [datasets]="chartDatasetsTopSaledProductQtde" [labels]="chartDatasetsTopSaledProductLabels" [colors]="chartColors" [options]="getChartOptionsBar('Produtos Mais Vendidos (Qtde)')" [legend]="false" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeLine" [datasets]="chartDatasetsTotalSaledProduct" [labels]="chartDatasetsTotalSaledProductLabels" [colors]="chartColorsPie" [options]="getChartOptionsLine('Vendas de Produtos')" [legend]="false">
          </canvas>
      </div>
      <div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeLine" [datasets]="chartDatasetsTotalSaledService" [labels]="chartDatasetsTotalSaledServiceLabels" [colors]="chartColorsPie" [options]="getChartOptionsLine('Vendas de Serviços')" [legend]="false">
          </canvas>
      </div>
      <div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeLine" [datasets]="chartDatasetsTotalIncome" [labels]="chartDatasetsTotalIncomeLabels" [colors]="chartColorsPie" [options]="getChartOptionsLine('Receitas')" [legend]="false">
        </canvas>
      </div>
      <div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeLine" [datasets]="chartDatasetsTotalExpense" [labels]="chartDatasetsTotalExpenseLabels" [colors]="chartColorsPie" [options]="getChartOptionsLine('Despesas')" [legend]="false">
        </canvas>
      </div>
      
    </div>
    <div class="col-lg-3">
      <div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeBar" [datasets]="chartDatasetsCustomers" [labels]="['Clientes']" [colors]="chartColorsPie" [options]="getChartOptionsPie('Clientes')" [legend]="false">
          </canvas>
      </div>
      <div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeBar" [datasets]="chartDatasetsProviders" [labels]="['Fornecedores']" [colors]="chartColorsPie" [options]="getChartOptionsPie('Fornecedores')" [legend]="false">
          </canvas>
      </div>
      <div class="panel panel-light">
        <canvas mdbChart [chartType]="chartTypeBar" [datasets]="chartDatasetsProducts" [labels]="['Produtos']" [colors]="chartColorsPie" [options]="getChartOptionsPie('Produtos')" [legend]="false">
          </canvas>
      </div>
    </div>
  </div>
</div>
