.center {
  line-height: 735px;
  height: 900px;
  text-align: center;
}

.center div {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.s-404 {
  text-transform: uppercase;
	background: linear-gradient(to right, #00ffff 5%, red 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -50px;
	font: {
		size: 10vw;
		family: fantasy;
	};
}

.message {
	font: {
		size: 23px;
    font-weight: bold;
	};
}
