<app-dialog modalTitle="Categoria do Produto" [modalRef]="productCategoryModalRef">
  <form body id="editForm" [formGroup]="formGroup">
    <div class="row">
      <div class="col-12">
        <div class="md-form">
          <input type="text" id="name" #firstInput class="form-control text-light" formControlName="name" mdbInput mdbValidate />
          <label for="name" class="text-light">Nome</label>
          <app-validation [form]="nameForm" [validMessage]="'Válido'" [invalidMessage]="'Inválido'"></app-validation>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="md-form">
          <select id="productCategories" class="primary-system-color browser-default custom-select text-light" formControlName="parent" mdbInput mdbValidate>
            <option selected></option>
            <option *ngFor="let productCategory of productCategories" [value]="productCategory.id">{{productCategory.name}}</option>
          </select>
          <label for="productCategories" class="text-light">Subcategoria De</label>
          <app-validation [form]="parentForm" [validMessage]="'Válido'" [invalidMessage]="'Inválido'"></app-validation>
        </div>
      </div>
    </div>
  </form>

  <div footer>
    <button mdbBtn type="button" *ngIf="data.content" color="danger" outline="true" (click)="onDelete()" mdbWavesEffect>Excluir</button>
    <button mdbBtn type="submit" [disabled]="formGroup.invalid" form="editForm" color="primary" outline="true" (click)="onSave()" mdbWavesEffect>Salvar</button>
  </div>
</app-dialog>
