<div class="text-light">
  <div class="modal-header secondary-system-color">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100">{{ modalTitle }}</h4>
  </div>
  <div class="modal-body container primary-system-color">
    <ng-content select="[body]"></ng-content>
  </div>
  <div class="modal-footer secondary-system-color">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>