.screen-top {
    margin-top: 85px;
}

.screen-bottom {
    margin-bottom: 68px;
}

body {
    background-color: #282a36;
}

.primary-system-color {
    background-color: #21222c !important;
}

.secondary-system-color {
    background-color: #282a36;
}

.card-filter--margin-top {
    margin-top: 25px;
}

.cursor-pointer {
    cursor: pointer;
}