.screen-top {
    margin-top: 85px;
}

.screen-bottom {
    margin-bottom: 68px;
}

.btn-primary {
    background-color: red !important;
}

body {
    background-color: #282a36;
}

.primary-system-color {
    background-color: #21222c !important;
}

.secondary-system-color {
    background-color: #282a36;
}