body {
    background-color: #282a36;
}

.screen-top {
    margin-top: 85px;
}

.screen-bottom {
    margin-bottom: 68px;
}

.primary-system-color {
    background-color: #21222c !important;
}

.secondary-system-color {
    background-color: #282a36;
}

.card-filter--margin-top {
    margin-top: 25px;
}

.cursor-pointer {
    cursor: pointer;
}

.btn.disabled, .btn:disabled {
    opacity: 0.20 !important;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #FFFFFF;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4F4F4F;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1C1C1C;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator:hover {
  background: transparent;
  cursor: pointer;
}

.pad-0 {
  padding: 0px;
}

.pad-t-0 {
  padding-top: 0px
}

.color-springgreen {
  color: #00FF7F;
}

.background-color-springgreen {
  background-color: #00FF7F;
}

.color-crimson {
  color: #DC143C;
}

.background-color-crimson {
  background-color: #DC143C;
}

.color-deepskyblue {
  color:	#00BFFF;
}

.background-color-deepskyblue {
  background-color:	#00BFFF;
}

.color-light-yellow {
  color:	#FFFF66;
}

.background-color-light-yellow {
  background-color:	#FFFF66;
}

.color-orange {
  color:	#f09b00;
}

.background-color-orange {
  background-color:	#f09b00;
}

.color-black {
  color: black;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.font-size-25 {
  font-size: 25px;
}

.width-84 {
  width: 84px;
}

.text-align-center {
  text-align: center;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.font-size-38 {
  font-size: 38px;
}

.margin-t-40 {
  margin-top: 40px;
}

.margin-t--4 {
  margin-top: -4px;
}

.right-header {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
}

/* INPUT - START */
input {
  border: 1px solid #b0b3b8 !important;
  border-radius: 4px !important;
  padding-left: 5px !important;
}

input:focus {
  border: 1px solid #FFFFFF !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}

select {
  border: 1px solid #b0b3b8 !important;
  border-radius: 4px !important;
}

select:focus {
  border: 1px solid #FFFFFF !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}

input.form-control.validate-error.ng-invalid.ng-touched,
input.form-control.validate-error.ng-invalid.ng-dirty,
.form-submitted input.form-control.validate-error.ng-invalid {
  border: 1px solid #f44336 !important;
  border-radius: 4px !important;
}

input.form-control.validate-success.ng-valid.ng-dirty,
input.form-control.validate-success.ng-valid.ng-touched,
.form-submitted input.form-control.validate-success.ng-valid {
  border: 1px solid #00c851 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}

.md-form label {
  padding-left: 5px;
  margin-top: -2px;
  color: #b0b3b8 !important;
}

.md-form label.active {
  transform: translateY(-25px) scale(0.8);
  padding-left: 0px !important;
  color: #FFFFFF !important;
  margin-top: 0px !important;
}

.select-label {
  margin-top: -4px !important;
}

/* INPUT - END */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.font-size-12 {
  font-size: 12px;
}

.grid-item {
  background-color: #b0b3b8;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
}

.firts-item-grid {
  background-color: #33b5e5 !important;
}

.pad-l-15 {
  padding-left: 15px;
}

.pad-r-9 {
  padding-right: 9px;
}

.pad-b-20 {
  padding-bottom: 20px;
}
