<app-dialog modalTitle="Abertura de Caixa" [modalRef]="modalRef">
  <form body [formGroup]="formGroup">
    <div class="md-form">
      <input type="text" id="value" class="form-control" formControlName="pdvValue" mdbInput mdbValidate />
      <label for="pdvValue">Informe o Valor em Caixa</label>
    </div>

    <div class="md-form">
      <input type="text" id="login" class="form-control text-light" formControlName="login" mdbInput mdbValidate>
      <label for="login" class="text-light">Responsável</label>
      <app-validation [form]="loginForm" [validMessage]="'Válido'" [invalidMessage]="'Inválido'"></app-validation>
    </div>

    <div class="md-form">
      <input type="password" id="password" class="form-control text-light" formControlName="password" mdbInput mdbValidate>
      <label for="password" class="text-light">Senha</label>
      <app-validation [form]="passwordForm" [validMessage]="'Válido'" [invalidMessage]="'Inválido'"></app-validation>
    </div>

  </form>

  <div footer>
    <button mdbBtn type="submit" color="primary" outline="true" (click)="onSave()" mdbWavesEffect>Ok</button>
  </div>
</app-dialog>
