<div class="container-fluid" style="margin-top: 80px;">
  <div class="card">
    <div class="card-header">
      Filtros
    </div>
    <div class="card-body">
      <div class="row">
        <div class="md-form col-12 col-md-6">
          <input type="text" id="user" class="form-control" mdbInput mdbValidate>
          <label for="user">Nome</label>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <button mdbBtn class="btn btn-primary" mdbWavesEffect>Buscar</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fornecedores</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <div (click)="onClickItem(item)">
                <th scope="row">{{ item.name }}</th>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
