.empty-list-table {
  text-align: center;
}

.div--header-align {
  margin-top: -14px;
  margin-bottom: 3px;
}

.div--total-items-align {
  margin-top: 33px;
}

.div-button--table-header {
  text-align: right;
}

.button--table-header {
  margin-right: -1px;
}

.footer--align {
  text-align: center;
}
