.empty-list-table {
  text-align: center;
}

.div--header-align {
  margin-top: -14px;
  margin-bottom: 3px;
}

.div--total-items-align {
  margin-top: 33px;
}

.div-button--table-header {
  text-align: right;
}

.button--table-header {
  margin-right: -1px;
}

.footer--align {
  text-align: center;
}

.primary-background-color-line-table {
  background-color:	#21222c !important;
}

.border-color-table {
  border-color: #4d4e56;
}

.secondary-background-color-line-table {
  background-color:	#373841 !important;
}

tr.select-line:hover {
  background-color: #797a80 !important;
  cursor: pointer;

}
