<div class="card text-light primary-system-color">
  <div class="card-body">
    <div *ngIf="totalItems">
      <div class="row div--header-align">
        <div class="col-6 div--total-items-align">
          {{'total_registros_encontrados' | translate: {total: totalItems} }}
        </div>
        <div class="col-6 div-button--table-header">
          <button mdbBtn class="button--table-header" type="button" color="primary" outline="true" (click)="onClickItem(null)" mdbWavesEffect>Adicionar</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="secondary-system-color">
            <tr>
              <th *ngFor="let tableValue of tableValues" class="text-light">
                {{ getHeaders(tableValue) | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of tableItems | paginate: {itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems}"
              class="cursor-pointer">
              <th *ngFor="let tableValue of tableValues" class="text-light" (click)="onClickItem(item)">
                {{ getFieldsOfTable(item, tableValue) }}
              </th>
            </tr>
          </tbody>
          <tfoot class="primary-system-color footer--align">
            <tr>
              <td colspan="10">
                <pagination-controls previousLabel="{{ 'table.anterior' | translate }}"
                  nextLabel="{{ 'table.proximo' | translate }}" responsive="true" autoHide="true"
                  (pageChange)="updateItems($event)">
                </pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div *ngIf="!totalItems" class="empty-list-table">
      <div>
        <mdb-icon class="fas fa-3x" icon="table"></mdb-icon>
      </div>
      <div>
        <label>Nenhum resultado foi encontrado.</label>
      </div>
      <button mdbBtn type="button" color="primary" outline="true" (click)="onClickItem(null)" mdbWavesEffect>Adicionar</button>
    </div>
  </div>
</div>
