<div class="container-fluid screen-top screen-bottom">
  <app-panel [panelTitle]="'filtros'">
    <div footer>
      <button mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Danger</button>
    </div>
  </app-panel>
  <div class="card-filter--margin-top">
    <div footer>
      <button mdbBtn type="button" color="danger" outline="true" (click)="open()" mdbWavesEffect>Adicionar</button>
    </div>
    <app-table [pageValues]="items" [tableValues]="tableValues" (reloadItems)="reloadItems($event)" (onClickItem)="onClickItem($event)"></app-table>
  </div>
</div>
