<app-dialog [modalTitle]="'sfdadas'" [modalRef]="userModalRef">
  <form body [formGroup]="userFormGroup">
    <div class="md-form">
      <input type="text" id="name" class="form-control" formControlName="name" mdbInput mdbValidate>
      <label for="name">Usuário</label>
      <mdb-error *ngIf="nameForm.invalid && (nameForm.dirty || nameForm.touched)">
        Usuário inválido
      </mdb-error>
      <mdb-success *ngIf="nameForm.valid && (nameForm.dirty || nameForm.touched)">
        Usuário válido
      </mdb-success>
    </div>
    <div class="md-form">
      <input type="password" id="password" class="form-control" formControlName="password" mdbInput mdbValidate>
      <label for="password">Senha</label>
      <mdb-error *ngIf="passwordForm.invalid && (passwordForm.dirty || passwordForm.touched)">
        Senha inválida
      </mdb-error>
      <mdb-success *ngIf="passwordForm.valid && (passwordForm.dirty || passwordForm.touched)">
        Senha válida
      </mdb-success>
    </div>
    <div class="md-form">
      <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" mdbInput mdbValidate>
      <label for="confirmPassword">Confirmar Senha</label>
      <mdb-error *ngIf="confirmPasswordForm.invalid && (confirmPasswordForm.dirty || confirmPasswordForm.touched)">
        Senha inválida
      </mdb-error>
      <mdb-success *ngIf="confirmPasswordForm.valid && (confirmPasswordForm.dirty || confirmPasswordForm.touched)">
        Senha válida
      </mdb-success>
    </div>
  </form>

  <div footer>
    <button mdbBtn type="button" color="secondary" outline="true" aria-label="Close" (click)="userModalRef.hide()" mdbWavesEffect>Close</button>
    <button mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Danger</button>
    <button mdbBtn type="submit" color="primary" outline="true" (click)="onSave()" mdbWavesEffect>Save!</button>
  </div>
</app-dialog>