<app-dialog [modalTitle]="'Usuário'" [modalRef]="userModalRef">
  <form body id="editForm" [formGroup]="formGroup">
    <div class="row">
      <div class="col-8 col-md-8">
        <div class="md-form">
          <input type="text" id="login" #firstInput class="form-control text-light" formControlName="login" mdbInput mdbValidate>
          <label for="login" class="text-light">Usuário</label>
          <app-validation [form]="loginForm" [validMessage]="'Válido'" [invalidMessage]="'Inválido'"></app-validation>
        </div>
      </div>

      <div class="col-2 col-md-2 input--tenant-align">
        <div class="md-form text-light">
          @{{tenant}}
        </div>
      </div>

      <div class="col-2 col-md-2">
        <div class="custom-control custom-checkbox margin-t-40">
          <input type="checkbox" class="custom-control-input" id="active" tabindex="0" formControlName="active">
          <label ng-reflect-ng-class="[object Object]" for="active" class="custom-control-label">Ativo</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="md-form">
          <select id="employee" class="primary-system-color browser-default custom-select text-light" formControlName="employee" mdbInput mdbValidate>
            <option selected></option>
            <option *ngFor="let employee of employees" [value]="employee.id">{{employee.name}}</option>
          </select>
          <label for="employee" class="text-light select-label">Funcionário</label>
          <app-validation [form]="employeeForm" [validMessage]="'Válido'" [invalidMessage]="'Inválido'"></app-validation>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="md-form">
          <select id="permission" class="primary-system-color browser-default custom-select text-light" formControlName="permission" mdbInput mdbValidate>
            <option selected></option>
            <option *ngFor="let permission of permissions" [value]="permission.id">{{permission.name}}</option>
          </select>
          <label for="permission" class="text-light select-label">Permissão</label>
          <app-validation [form]="permissionForm" [validMessage]="'Válido'" [invalidMessage]="'Inválido'"></app-validation>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!data.content">
      <div class="col-12 col-md-6">
        <div class="md-form">
          <input type="password" id="password" class="form-control text-light" formControlName="password" mdbInput mdbValidate>
          <label for="password" class="text-light">Senha</label>
          <app-validation [form]="passwordForm" [validMessage]="'Válido'" [invalidMessage]="'Inválido'"></app-validation>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="md-form">
          <input type="password" id="confirmPassword" class="form-control text-light" formControlName="confirmPassword" mdbInput mdbValidate>
          <label for="confirmPassword" class="text-light">Confirmar Senha</label>
          <app-validation [form]="confirmPasswordForm" [validMessage]="'Válido'" [invalidMessage]="'Inválido'"></app-validation>
        </div>
      </div>
    </div>

    <div class="row" style="border: none; border-top: 3px dotted white;" *ngIf="data.content">
      <div class="col-12 col-md-12">
        <button mdbBtn type="button" color="primary" outline="true" (click)="onAlterPassword()" style="margin-left: 0;" mdbWavesEffect>Resetar Senha</button>
      </div>
      <div class="col-12 col-md-12">
        {{tokenResetarSenha}}
      </div>
    </div>
  </form>

  <div footer>
    <button mdbBtn type="button" *ngIf="data.content" color="danger" outline="true" (click)="onDelete()" mdbWavesEffect>Excluir</button>
    <button mdbBtn type="submit" [disabled]="formGroup.invalid" form="editForm" color="primary" outline="true" (click)="onSave()" mdbWavesEffect>Salvar</button>
  </div>
</app-dialog>
