<div class="ng-autocomplete">
  <ng-autocomplete
    [data]="data"
    [searchKeyword]="keyword"
    [initialValue]="batata"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
    [notFoundText]="notFoundText"
    (selected)='select($event)'
    (inputChanged)='changed($event)'
    [minQueryLength]="minQueryLength">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
