<div *ngIf="displayMenu">
    <app-navbar></app-navbar>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-atom" [fullScreen]="true"></ngx-spinner>
<router-outlet></router-outlet>

<div>
    <div class="fixed-bottom">
        <footer class="page-footer font-small primary-system-color">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="https://mdbootstrap.com/education/angular/"> Nin.com</a>
            </div>
        </footer>
    </div>
</div>