<app-dialog modalTitle="Funcionário" [modalRef]="employeeModalRef">
  <form body [formGroup]="formGroup">
    <div class="md-form">
      <input type="text" id="name" class="form-control" formControlName="name" mdbInput mdbValidate />
      <label for="name">Nome</label>
    </div>

    <div class="md-form">
      <input type="text" id="phone" class="form-control" formControlName="phone" mdbInput mdbValidate />
      <label for="name">Telefone</label>
    </div>

  </form>

  <div footer>
    <button mdbBtn type="button" color="secondary" outline="true" aria-label="Close" (click)="employeeModalRef.hide()" mdbWavesEffect>Close</button>
    <button mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Danger</button>
    <button mdbBtn type="submit" color="primary" outline="true" (click)="onSave()" mdbWavesEffect>Save!</button>
  </div>
</app-dialog>
