.intro-header {
    height: unset !important;
}

.login-template {
    background: url("src/assets/imgs/barber.jpg")no-repeat center center;
    background-size: cover;
}

.view {
    height: 100vh !important;
}

.rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}

.full-bg-img {
    height: 100%;
}

.card {
    background-color: rgba(52, 51, 70, 0.2);
}

.md-form {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #ffffff;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header
    .view {
      height: 1040px;
    }
}

.height-100 {
  height: 100%;
}

.pad-login {
  padding: 120px;
  padding-top: 350px;
}

.text-align-right {
  text-align: right;
}

.pad-0 {
  padding: 0;
}

.marg-0 {
  margin: 0;
}

.back-icon {
  padding-top: 19px;
  padding-left: 15px;
}
