<div class="container-fluid screen-top screen-bottom">
  <div class="h2 text-light">
    Receitas
  </div>
  <app-panel panelTitle="filtros" (search)="onSearch()" (clear)="onClear()">
    <div body>
      <div class="row">
        <div class="col-6">
          <div class="md-form">
            <input type="text" id="description" class="form-control text-light" [(ngModel)]="description" mdbInput />
            <label for="description" class="text-light">Descrição</label>
          </div>
        </div>
        <div class="col-6">
          <div class="md-form">
             <select id="status" class="primary-system-color browser-default custom-select text-light" [(ngModel)]="status" mdbInput>
               <option selected></option>
               <option *ngFor="let status of statusList" [value]="status">{{ ('enums.payment-status.' + status) | translate }}</option>
             </select>
             <label for="status" class="text-light">Situação</label>
           </div>
         </div>
      </div>
    </div>
  </app-panel>
  <div class="card-filter--margin-top">
    <app-table [pageValues]="items" [tableValues]="tableValues" [updateCurrentPage]="currentPage"
      (reloadItems)="reloadItems($event)" (clickItem)="onClickItem($event)"
      [selectableLine]="false"  [showBtnAdd]="false"
      labelActionPrimaryButtonItem="Alterar Situação" (actionPrimaryButtonItem)="addRemoveIncomeItem($event)"></app-table>
  </div>
</div>
